<section class="content-header">
  <h1>
   Welcome <%= current_user.full_name %>
  </h1>
</section>
<section class="content-header" style="text-align: center;">
  <h2>
   <%= " it's time to vote for your favorite personalities!!!." %>
  </h2>
</section>

<section class="content container-fluid">
  <div class="box-body">
    <% if current_user.admin? %>
    <% else %>
        <% @categories.each do|category| %>
          <div class="card">
            <div class="card-body">
               <h4 class="card-title"><%= category.name %></h4>
               <p class="card-text"><%= category.end_date.strftime("Ends on %B %d %Y at %T:%M %p") %><br></p>
               <% if category.end_date.future? %>
               <%= link_to 'Vote Now!!!!', voting_page_path(cat_id: category.id), class: "btn btn-primary" %>
               <% else %>
               <%= link_to 'Event Expired', voting_page_path(cat_id: category.id), class: "btn btn-danger" %>
               <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
   </div>
</section>
