
<body class="hold-transition skin-blue sidebar-mini">

  <div class="wrapper">
    <header class="main-header">
      <%= render 'layouts/header' %>
    </header>

    <aside class="main-sidebar">
    <%= render 'layouts/select_side_bar' %>
    </aside>

    <div class="content-wrapper" style="min-height:84vh;">

      <section class="content-header">
        <h1>
          Welcome <%= current_user.full_name %>
        </h1>
      </section>

      <section class="content container-fluid">
        <h3><%= @category.name %></h3>
        <h5><%= @category.description %></h5>
        <div class="box-body">
          <div class="content-header">
            <% if @user.check_liked?(@user,@category) && @category.active? %>
              <h4 class="text-blue">You are already voted for this category!!!</h2>
            <% end %>
          </div>
          <div class="row">
            <div class="col-md-8">
              <% @nominees.each do|nominee| %>
                <div class="card">
                   <%= link_to image_tag( nominee.picture.url, size: "150x100"), profile_path(id: nominee.id) %>
                  <div class="card-body">
                    <h4 class="card-title"><%= nominee.name %></h4>
                    <% if !@user.check_liked?(@user,@category) && @category.active? %>
                       <%= link_to 'Vote Now',like_category_path(id: @category.id, nom_id: nominee.id), { method: :post,remote: true, class: "btn btn-success", 'data-toggle' =>  "modal", 'data-target' => '#show-modal-window'}  %>
                    <% end %>
                    <h4 class="card-title"> Votes :<%= nominee.vote_count(@category) %></h4>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="col-md-4">
              <div class="panel card">
                <div class="card-img-top">
                  <h4 class="card-title"> WINNER !!!</h4>
                  <% if !@category.active? %>
                    <div class="row">
                      <% @winners.each do |winner| %>
                        <div class="col-md-6">
                          <%= image_tag winner.picture.url, size: "150x100"  %>
                          <div class="card-block">
                            <h4 class="card-title"><%= winner.name%></h4>
                            <h4 class="card-title">Total Votes : <%= winner.vote_count(@category)%></h4>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="row">
                       <%= image_tag 'avatar.png', size: "150x100"  %>
                      <div class="card-block">
                        <h4 class="card-title"><%= '???'%></h4>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>

    <footer class="main-footer">
       <%= render 'layouts/footer' %>
    </footer>

  </div>
</body>
<div id="show-modal-window">
</div>


