<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>End Time</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do|category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.end_date %></td>
        <td><%= category.description %></td>
        <% if category.active? %>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <% else %>
        <td style="color:red;"><%= 'Expired' %></td>
        <% end %>
        <td><%= link_to 'Delete', category_path(category), method: :delete , remote: true,  data: { confirm: "You sure?" }%></td>
      </tr>
    <% end %>
  </tbody>
</table>
